appdirs==1.4.4
Arpeggio==1.10.1
bleach==3.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.3.1
docutils==0.16
future==0.18.2
idna==2.10
importlib-metadata==3.4.0
jeepney==0.6.0
Jinja2==2.11.2
joblib==1.0.0
keyring==21.8.0
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
MarkupSafe==1.1.1
mike==0.6.0
mkdocs==1.1.2
nltk==3.5
packaging==20.8
pkg-resources==0.0.0
pkginfo==1.6.1
pycparser==2.20
Pygments==2.7.3
pyparsing==2.4.7
PyYAML==5.3.1
readme-renderer==28.0
regex==2020.11.13
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
SecretStorage==3.3.0
six==1.15.0
textX==2.3.0
textX-dev==0.1.5
textX-jinja==0.2.1
textx-lang-questionnaire==0.2.0
tornado==6.1
tqdm==4.56.0
twine==3.3.0
typing-extensions==3.7.4.3
urllib3==1.26.2
webencodings==0.5.1
zipp==3.4.0
